.case{
    width: 11px;
    height: auto;
    border: 2px solid black;
    list-style: none;
    flex: 1 0 auto;
}
.square-container{
    height: 375px;
    width: 375px;
    display: flex;
    flex-wrap: wrap;

}
.case:before {
    content: '';
    display: block;
    padding-top: 100%;
}