.case {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    list-style: none;
}

.square-container {
    height: 375px;
    width: 635px;
    display: flex;
    flex-wrap: wrap;
}

.fruitier {
    background-color: palevioletred;
}

.biodiversite {
    background-color: green;
}

