.treelist{
    display: flex;
    width: 550px;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-right: 15%;
    border: 2px solid black;
    padding: 5px;
}
@media (max-width: 800px) {
    .treelist{
        display: block;
        width: 310px;
        margin-left: auto;
        margin-right: auto;
    }
  }